# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js
*.tsbuildinfo

# testing
coverage

# build
.next/
out/
build
lib
dist
.swc

# misc
.DS_Store
*.pem
.swc
*.tsbuildinfo
.cache
index.*.html
_book

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo
